<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="app.component.css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
</head>
<body >
    <header>
        <img src="./logo/logo_size.jpg" alt="logo" width="100" class="logo">
        <nav>
            <ul class="menu">
                <li><a href="./app.component.html">Home</a></li>
                <li><a href="./categories/categories.component.html">Skill più usate</a></li>
                <li><a href="./skill/skill.component.html">Ricerca skill</a></li>
            </ul>
        </nav>
        <button>Login</button>
    </header>
</body>
</html>


