<app-home></app-home>
<div class="background">
<div class="row">
    <div class="col-7">
        <div class="image-conteiner">
            <img src="https://format-com-cld-res.cloudinary.com/image/private/s--vvQRPExA--/c_limit,g_center,h_65535,w_1600/fl_keep_iptc.progressive,q_95/v1/0924ffa6d8379391cf8ba293c126232f/image-7.jpg" class="img">
        </div>
        <h1 class="nome">Roberto</h1>
        <h1 class="cognome">Rossi</h1>
        <div class="card">
            <h5 class="card-header">Le tue skill</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <h5 class="card-title">Nome</h5>
                        <p class="card-text">Java EE</p>
                        <p class="card-text">Frontend development</p>
                        <p class="card-text">Angular 2</p>
                        <p class="card-text">HTML 5</p>
                        <p class="card-text">C++</p>
                        <p class="card-text">Python</p>
                        <p class="card-text">PASCAL</p>
                        <p class="card-text">C#</p>

                    </div>
                    <div class="col-4">
                        <h5 class="card-livello">Livello</h5>
                        <p class="card-stelle">3</p>
                        <p class="card-stelle">5</p>
                        <p class="card-stelle">5</p>
                        <p class="card-stelle">1</p>
                        <p class="card-stelle">5</p>
                        <p class="card-stelle">3</p>
                        <p class="card-stelle">4</p>
                        <p class="card-stelle">1</p>
                    </div>
                    <div class="col-4">
                        <h5 class="card-anni">Anni</h5>
                        <p class="card-tempo">5 anni</p>
                        <p class="card-tempo">10 anni</p>
                        <p class="card-tempo">12 anni</p>
                        <p class="card-tempo">2 anni</p>
                        <p class="card-tempo">10 anni</p>
                        <p class="card-tempo">6 anni</p>
                        <p class="card-tempo">7 anni</p>
                        <p class="card-tempo">3 anni</p>
                    </div>
                </div>
              <a a routerLink="/ricerca" class="btn btn-primary">Aggiungi skill</a>
            </div>
          </div>
    </div>
    <div class="col-5">
        <h2 class="professione">Sviluppo software</h2>
        
            <p-chart class="tabella" type="radar" [data]="data" [options]="chartOptions" [style]="{'width': '40%'}"></p-chart>  
    </div>
</div>
</div>